.custom-nav-for {
    bottom: 8px;
}
#menu ul {
    text-align: right;
}

@media screen and (min-width: 1500px) {
    .sc-team-block .block-item.top-right {
        right: -1577px;
    }
    .sc-team-block .block-item.bottom-left {
        left: 0px;
    }
}