.custom-nav-for {
    bottom: 8px;
}
#menu ul {
    text-align: right;
}

.container + .carousel-post {
    background-color: #f9f9f9;
}

@media screen and (max-width: 375px) {
    .recruitment .flag + .flag {
        padding-left: 15px;
    }
}
@media screen and (max-width: 325px) {
    .recruitment .flag {
        padding-left: 15px;
    }
}
@media screen and (min-width: 1500px) {
    .sc-team-block .block-item.top-right {
        right: -1577px;
    }
    .sc-team-block .block-item.bottom-left {
        left: 0px;
    }
}