.custom-nav-for {
    bottom: 8px;
}
#menu ul {
    text-align: right;
}

.container + .carousel-post {
    background-color: #f9f9f9;
}

.sc-carousel-layout-2 .nav-tabs > li.active > a, 
.sc-carousel-layout-2 .nav-tabs > li.active > a:focus, 
.sc-carousel-layout-2 .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border-radius: 0;
    color: #82c341;
    border: 0;
}

.sc-carousel-layout-2 .nav-tabs > li.active > a .block-title, 
.sc-carousel-layout-2 .nav-tabs > li.active > a:focus .block-title, 
.sc-carousel-layout-2 .nav-tabs > li.active > a:hover .block-title {
    color: #82c341;
    border: 0;
}

.sc-carousel-layout-2 .nav > li > a:focus, .sc-carousel-layout-2 .nav > li > a:hover {
    background-color: transparent;
    color: #3f3f3f;
    border: 0;
}
.sc-carousel-layout-2 .nav > li > a:focus .block-title, 
.sc-carousel-layout-2 .nav > li > a:hover .block-title {
    color: #82c341;
}

@media screen and (max-width: 375px) {
    .recruitment .flag + .flag {
        padding-left: 15px;
    }
}
@media screen and (max-width: 320px) {
    .recruitment .flag {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 1500px) {
    .sc-team-block .block-item.top-right {
        right: -1577px;
    }
    .sc-team-block .block-item.bottom-left {
        left: 0px;
    }
}